:root {
    --primary-blue: #008BEF;
    --secondary-blue: #54b8ff;
    --light-blue: #a1d8ff;
    --background-blue: #00679A;
    --blur-blue: #60bdff;
    --faded-blue: #A6CEEB;
    --dark-blue: #003c5a;
    --white: #ffffff;
    --gray: rgb(161, 161, 161);
    --red: #8B0101;
    --font-unbounded: "Unbounded", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --border-radius: 20px;
    --border-radius-large: 30px;
    --border-radius-full: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    height: 100vh;
    background-color: var(--background-blue);
    flex-direction: column;
}

.desfoque {
    position: absolute;
    background-color: var(--blur-blue);
    filter: blur(100px);
    height: 500px;
    width: 700px;
    border-radius: 100%;
    z-index: -2;
    bottom: 100px;
}

.titulo {
    position: relative;
    width: 90vw;
    font-family: var(--font-unbounded);
    color: var(--white);
    font-size: 150px;
    background-color: var(--primary-blue);
    margin-top: 30px;
    text-align: center;
    border-radius: var(--border-radius-large);
    padding: 20px 200px;
    font-weight: bold;
}

button, a {
    font-family: var(--font-unbounded);
    color: var(--white);
    background-color: var(--primary-blue);
    border-radius: var(--border-radius-large);
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

button:hover, a:hover {
    background-color: var(--secondary-blue);
    box-shadow: 0px 0px 50px var(--secondary-blue);
}

.acessar-login {
    padding: 20px;
    border-radius: var(--border-radius-large);
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    width: calc(50% - 20px);
}

.aaaa {
    padding: 20px;
    border-radius: var(--border-radius-large);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 50%;
}

section.a {
    width: 90vw;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.p {
    font-family: var(--font-unbounded);
    color: var(--white);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.b {
    background-color: var(--primary-blue);
    margin: 30px;
    margin-bottom: 20px;
    width: 40vw;
    border-radius: var(--border-radius-large);
    flex-direction: column;
    padding: 10px;
}

input {
    display: flex;
    height: 70px;
    width: 95%;
    margin-bottom: 10px;
    border-radius: var(--border-radius-full);
    padding: 20px;
    border: 0;
    justify-self: center;
    font-family: var(--font-montserrat);
    font-size: 30px;
}

.c {
    margin-top: 0;
    width: 40vw;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.boletim-button, .voltar-button, .voltar-buttonb {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.boletim-button, .voltar-button {
    width: 20%;
}
#voltar-button {
    width: 42%;
}
.voltar-buttonb {
    width: 45%;
    margin: 15px;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mes {
    background-color: var(--primary-blue);
    height: 100px;
    width: 35%;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
}

.mestexto {
    font-family: var(--font-unbounded);
    color: var(--white);
    font-size: 50px;
    margin: 30px;
    font-weight: bold;
    display: flex;
    overflow: hidden;
}

.setamais, .setamenos {
    font-family: var(--font-unbounded);
    font-size: 70px;
    color: var(--white);
    font-weight: bold;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97vw;
    gap: 15px;
    margin-top: 30px;
    transform: translateX(calc(-50vw + 50%));
    margin-left: 50px;
}

.cabecalho-calendario {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

#calendarioemsi {
    background-color: var(--primary-blue);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 55%;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    padding: 20px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dia {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    font-family: var(--font-unbounded);
    color: var(--primary-blue);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inputs {
    height: 100%;
    width: 44%;
    gap: 30px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.container-calendario2, .container-calendario2a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 800px;
    gap: 15px;
}

.container-calendario2 {
    justify-content: center;
}

.container-calendario2a {
    justify-content: flex-start;
}

input::placeholder {
    color: var(--gray);
}

.agendainput, #data-input, #hora-input {
    border: 10px var(--primary-blue) solid;
    height: 100px;
}

#data-input, #hora-input {
    width: 46%;
    margin-bottom: 30px;
    color: var(--gray);
}

.dataetempo {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sub, .sub1 {
    justify-self: flex-start;
    font-family: var(--font-montserrat);
    color: var(--white);
    font-size: 30px;
    margin-left: 30px;
}

.sub {
    margin-top: 20px;
}

.subdiv {
    width: 100%;
}

.enviaratividade {
    height: 100px;
    border: 0;
    justify-content: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 95%;
    font-size: 50px;
}

.boletim {
    height: auto;
    background-color: var(--primary-blue);
    width: 80vw;
    display: flex;
    gap: 10px;
    padding: 20px;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    transition: 1s ease-in-out;
    flex-direction: column;
}

.boletimsub {
    display: flex;
    gap: 10px;
}

.titulosboletim {
    margin: 15px 4vw 0 15px;
    font-family: var(--font-unbounded);
    color: var(--dark-blue);
    font-size: 18px;
}

.boletimelemento {
    background-color: var(--secondary-blue);
    margin: 10px;
    font-size: 30px;
    font-family: var(--font-unbounded);
    color: var(--dark-blue);
    display: flex;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    width: 100%;
    height: 70px;
}

.boletimelemento1 {
    padding-left: 15px;
}

.inputboletim {
    height: 50%;
    margin: 0;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-weight: bold;
    border-radius: 10px;
    width: 90%;
}

#tituloboletim {
    margin-right: 21vw;
}

.nomes {
    width: 36.5%;
}

.materias {
    width: 24%;
}

.notas {
    width: 20%;
}

.bodyboletim {
    flex-direction: row;
    padding: 15px;
    padding-top: 0;
    align-items: flex-start;
}

.tarefa {
    z-index: 1;
    position: absolute;
    background-color: transparent;
    border: 10px red solid;
    border-radius: 50%;
    width: 85%;
    height: 90%;
    display: block;
}

.tarefadiv {
    z-index: 2;
    position: absolute;
    border: 10px var(--primary-blue) solid;
    background-color: var(--white);
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    bottom: 50%;
    left: 50%;
    padding: 10px;
    height: 200px;
    width: 400px;
}

.nomeatividadediv, .dataatividadediv, .horaatividadedix {
    font-size: 43%;
}

.divisaodiv {
    height: 5px;
    width: 90%;
    background-color: var(--primary-blue);
    border-radius: 10px;
    margin: 10px;
}
