* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    
    height: 100vh;
    background-color: #00679A;
    flex-direction: column;
}
.desfoque {
    position: absolute;
    background-color: #60bdff;
    filter: blur(100px);
    height: 500px;
    width: 700px;
    border-radius: 100%;
    z-index: -2 ;
    bottom: 100px;
}
.titulo {
    position: relative;
    width: 90vw;
    font-family: "Unbounded", sans-serif;
    color: white;
    font-size: 150px;
    background-color: #008BEF;  
    margin-top: 30px;
    text-align: center;
    justify-self: start;
    border-radius: 30px;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    font-weight: bold;
}
button, a {
    font-family: "Unbounded", sans-serif;
    color: white;
    background-color: #008BEF;
    border-radius: 30px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
    border: none;
    cursor: pointer;
}

button.aaaa {
    padding: 20px;
    border-radius: 30px;
    width: 50%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
button:hover, a:hover {
    background-color: #54b8ff;
    box-shadow: 0px 0px 50px #54b8ff;
}
.acessar-login {
    font-family: "Unbounded", sans-serif;
    color: #ffffff;
    width: calc(50% - 20px);
    font-size: 100px;
    background-color: #008BEF;
    align-self: flex-start;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
}
section.a {
    width: 90vw;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px; 
}
a, .p {
    text-decoration: none;
    font-family: "Unbounded", sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.b {
    background-color: #008BEF;
    margin: 30px;
    margin-bottom: 20px;
    width: 40vw;
    border-radius: 30px;
    flex-direction: column;
    padding: 10px;
}
input {
    display: flex;
    justify-self: center;
    height: 70px;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 20px;
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}
.c {
    margin-top: 0px;
    width: 40vw;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.aaaa {
    padding: 20px;
    border-radius: 30px;
    width: 50%  ;
}

.boletim-button {
    height: 100px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mes {
    background-color: #008BEF;
    height: 100px;
    width: 35%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
}
p.mestexto {
    font-family: "Unbounded", sans-serif;
    color: white;
    font-size: 50px;
    margin: 30px;
    font-weight: bold;
    display: flex;
    overflow: hidden;
}
.setamais, .setamenos {
    font-family: "Unbounded", sans-serif;
    font-size: 70px;
    color: white;
    font-weight: bold;
}
.setamais {
    justify-self: flex-end;
}
.setamenos {
    justify-self: flex-start;
}
.container-calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97vw;
    gap: 15px;
    margin-top: 30px;
    transform: translateX(calc(-50vw + 50%));  
    margin-left: 50px;
}
.cabecalho-calendario {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}
#calendarioemsi {
    background-color: #008BEF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 55%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    padding: 20px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dia {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Unbounded", sans-serif;
    color: #008BEF;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.inputs {
    height: 100%;
    width: 44%;
    gap: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.container-calendario2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 800px;
    gap: 15px;
    justify-content: center; 
}
.container-calendario2a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 800px;
    gap: 15px;
    justify-content: flex-start; 
}
input::placeholder {
    color: rgb(161, 161, 161);
}
.agendainput {
    border: 10px #008BEF solid;
    height: 100px;
}
#data-input, #hora-input{
    border: 10px #008BEF solid;
    height: 100px;
    width: 46%;
    margin-bottom: 30px;
    color: rgb(161, 161, 161);
}

.dataetempo {
    display: flex;
    justify-content: center;
    gap: 15px; 
}
p.sub {
    justify-self: flex-start;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
}
p.sub1 {
    justify-self: flex-start;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
.subdiv {
    width: 100%;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}
#calendarioemsia {
    background-color: #008BEF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    padding: 20px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container-calendarioa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 60vw;
    gap: 15px;
    margin-top: 30px;
    transform: translateX(calc(-50vw + 50%));  
    margin-left: 50px;
}
.enviaratividade {
    height: 100px;
    border: 0;
    justify-self: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 95%;
    font-size: 50px;
}
.boletim {
    height: auto;
    background-color: #008BEF;
    width: 80vw;
    display: flex;
    gap: 10px;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 1s ease-in-out;
    flex-direction: column;
}
.boletimsub {
    display: flex;
    gap: 10px;
}
.titulosboletim {
    margin-right: 4vw;
    margin-left: 15px;
    margin-top: 15px;
    font-family: "Unbounded", sans-serif;
    color: #003c5a;
    font-size: 18px;
}
.boletimelemento {
    background-color: #54b8ff;
    margin: 10px;
    font-size: 30px;
    font-family: "Unbounded", sans-serif;
    color: #003c5a;
    display: flex;
    padding-left: 10px;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    flex-direction: row;
    height: 70px;
}
.inputboletim {
    height: 50%;
    margin: 0;
    background-color: #a1d8ff;
    color: #003c5a;
    font-weight: bold;
    border-radius: 10px;
    width: 97%;
    justify-self: center;
}
#tituloboletim {
    margin-right: 21vw;
}
.nomes {
    width: 36.5%;
}
.materias {
    width: 24%;
}
.notas {
    width: 20%;
}
.bodyboletim {
    flex-direction: row;
    padding: 15px;
    padding-top: 0;
    align-items: flex-start;
}
.voltar-buttonb {
    margin: 15px;
    height: 100px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
